@font-face {
    font-family: 'SignFont';
    src: url('../../data/font/BDAFingerspellingNormal.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../data/font/BDAFingerspellingNormal.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../data/font/2381267.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../data/font/BDAFingerspellingNormal.svg') format('svg'); /* Legacy iOS */
  }

.PlainChar {
    font-size: 2em;
}

.SignChar {
    font-family: SignFont;
    font-size: 5em;
}

.SignHint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
    margin: 0 auto;
}